@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 1px;
}

body {
    background-color: #f8f8f8;
    scroll-snap-type: y mandatory; 
}

@media screen and (max-width: 1440px) {
    html {
        font-size: 1px;
    }
}
